:root {
  --main-color: rgba(17, 17, 17, 1);
  --light-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(128, 128, 128, 1);
  --secondary-light-color:rgba(217, 217, 217, 1);
  --shadow-color: rgba(100, 100, 111, 0.2);
}

html {
  background-color: var(--light-color);
  color: var(--main-color);
  font-family: Helvetica, sans-serif;
}
  
body {
  margin: 0 auto;
  width: 100%;
  margin-top: 80px;
  line-height: 1.5;
  height: auto;
}
  
* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}
  
header {
  width: 0;
}

 /*Nav styles*/

 nav {
  background-color: var(--light-color);
  box-shadow: 0 2px 4px 0 var(--shadow-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.hamburger {
  cursor: pointer;
  padding: 16px;
}

/*Hamburguer*/

.hamburger .line {
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 4px;
  background-color: var(--main-color);
}

.hamburger .lastline {
  margin-bottom: 0;
}

/*Lista das páginas - fechada*/

.nav-links {
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: var(--light-color);
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0 2px 4px 0 var(--shadow-color);
}

/*Lista das páginas - aberta*/
.nav-links li {
  display: block;
  text-align: center;
  padding: 16px 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--main-color);
}


.nav-links a:hover, a:focus {
  color: var(--secondary-color);
}

.expanded {
  display: unset;
}


h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;

}

h1, h2 {
  text-align: center;
}

h2, p {
  color: var(--secondary-color);
}


/*Conteúdo de cada página*/

section.page {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 40px 0 80px 0;
}

section.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

section.intro > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

h1.intro {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0 0 0;
}

h2.intro {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

h1.intro, h2.intro, p.intro {
  text-align: center;
}

/* About Page */

.profile figure {
  display: flex;
  justify-content: center;
}

.profile img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 48px 0 0 0;
}

.profile h2 {
  color: var(--main-color);
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 24px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

p.profile-content {
  padding: 0 24px 24px 24px;
  margin: 0;
}

.work-education {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 16px;
}


/*Slider Imagens Homepage*/

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

figure.slide{
  height: 300px;
  display: flex;
  align-items: center;
  gap: 32px;
  animation: slideshow 80s linear infinite;
}

.slide img {
  border-radius: 16px;
  width: auto;
  height: 300px;
}

@keyframes slideshow {
  0% {transform: translateX(0)}
  100% {transform: translateX(calc(-100% - 16px))}
}

/*Portfolio*/

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 16px;
}

h1.project {
  font-size: 2.5rem;
}

h2.project {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 200;
}

.project h3, .project p {
  font-size: 1rem;
}

.project h3 {
  color: var(--secondary-color);
  font-weight: 200;
}

.project p {
  color: var(--main-color);
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 16px;
}

div.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  border-bottom: solid 1px var(--secondary-color);
}

div.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
}

p.tag {
  background-color: var(--secondary-light-color);
  padding: 0 8px;
  margin: 0;
}

p.project-description {
  font-size: 1rem;
}

a.behance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  height: 44px;
}

div.behance {
  background-color: var(--light-color);
  border: 1px solid var(--main-color);
  border-radius: 24px;
  width: fit-content;
  padding: 0 24px;
  margin: 0 16px;
}

.behance p {
  color: var(--main-color);
  margin: 0; 
}

img.project, iframe.project {
  width: 100%;
}

iframe.project {
  height: 500px;
}

figure.project {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/*Let's Talk*/

section.letstalk {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
}


article.letstalk {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

article.letstalk div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

article.letstalk h2, article.letstalk p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

article.letstalk p, article.letstalk a {
  color: var(--main-color);
}

article.letstalk p {
  margin: 0;
}

article.letstalk a {
  text-decoration: none;
}

article.letstalk a:hover, article.letstalk a:focus {
    color: var(--secondary-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  resize: none;
  font-family: Helvetica, sans-serif;
}

input[type=submit] {
  width: fit-content;
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--secondary-color);
}

/* Media Query para ecrãs acima de 600px */

@media screen and (min-width: 600px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    box-shadow: none;
  }

  .nav-links li {
    display: inline-block;
    padding: 16px;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  h1.intro {
    font-size: 3rem;
  }
  
  h2.intro {
    font-size: 1.5rem;
  }

  section.letstalk {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0 24px;
  }

  article.info {
    width: 30%;
  }

  article.form {
    width: 70%;
  }
}

/* Media Query para ecrãs acima de 768px */

@media (min-width: 768px) {
  
  section.profile > section {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px 0 0 0;
  }

  .profile figure {
    width: 100%;
    max-width: 500px;
    vertical-align: top;
    padding: 24px;
  }

  .profile img {
    object-fit: cover;
    margin: 0;
  }

  .profile-content {
    width: 100%;
    align-items: start;
  }

  .profile h2 {
    text-align: left;
  }

  .project-details {
    display: flex;
    flex-direction: row;
  }

  .project-details article {
    width: 50%;
  }

  p.project-description {
    width: 50%;
  }

  section.letstalk {
    padding: 0 80px;
  }
}

/* Media Query para ecrãs acima de 992px */

@media (min-width: 992px) {
  .work-education {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .work, .education {
    width: 50%;
  }
}

