---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Buttons from '../components/Buttons.astro'
import WorkExperience from '../components/WorkExperience.astro';
import Education from '../components/Education.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  
  <section class="page">
    <section class="profile">
      <h1 class="intro">{pageTitle}</h1>
   
      <div>
        <figure>
          <img src="/img/Margarida_Barros.png" alt="">
        </figure>
      
        <div class="profile-content">
          <h2>I'm Margarida Barros</h2>
          <p>As a Mechanical Engineer who transitioned into the field of Design, I am passionate about creating user-centric designs that are both aesthetically pleasing and functional.</p>
          <p>I am thrilled to be a part of the UX/UI field, where I can continue to learn and grow my skills. I am constantly seeking out new challenges and opportunities to push the boundaries.</p>
        </div>
      </div>
      
      <Buttons />

    </section>
  
    <section class="work-education">
      <section>
        <WorkExperience />
      </section>
  
      <section>
        <Education />
      </section>
    </section>
    

  </section>
  
</BaseLayout>

