---
import BaseLayout from '../layouts/BaseLayout.astro';
import Buttons from '../components/Buttons.astro'
const pageTitle = "Home Page";
---
<BaseLayout>
  <section>
    <h1>I’m Margarida, an Engineer with a strong passion for Design.</h1>
    
    <Buttons />

    <section class="wrapper">
      <div class="slider">
  
        <div class="slide">
          <img src="/Botanica_Thumbnail.png" alt="">
          <img src="/Instagram_Thumbnail.png" alt="">
        </div>
  
        <div class="slide">
          <img src="/Botanica_Thumbnail.png" alt="">
          <img src="/Instagram_Thumbnail.png" alt="">
        </div>
        
      </div>
    </section>
  </section>
  

  


</BaseLayout>
