---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Let's Talk";
---
<BaseLayout pageTitle={pageTitle}>
    
    <section class="page">
        <h1 class="intro">{pageTitle}</h1>

        <section class="letstalk">
            <article class="letstalk info">
                <div>
                    <h2>Contact Info</h2>
                    <p>mbcsbarros@gmail.com</p>
                </div>
                
                <div>
                    <h2 >Social</h2>
                    <a href="https://www.behance.net/margaridabbarros">Behance</a>
                    <a href="https://www.linkedin.com/in/margaridabarros/">LinkedIn</a>
                </div>
            </article>
        
            <article class="letstalk form">
                <h2>I'm looking forward to hearing about your project and exploring ways we can collaborate. Don't hesitate to reach out – I'd love to connect with you!</h2>
        
                <form action="https://api.web3forms.com/submit" method="POST" class="form">
        
                    <input type="hidden" name="access_key" value="b8b1d1fa-9266-4f43-bc6a-c1e7d9d40d83">

                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name">
    
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email">

                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Type your message"></textarea>
                    
                    <input type="submit" value="Send Message">
                </form>

            </article>
        </section> 
    </section>    
  


</BaseLayout>