---
import '../styles/global.css';
import ProjectCard from '../components/ProjectCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>

  <section class="page">
    <h1 class="intro">Projects</h1>
    <div class="cards">
      <ProjectCard />
    </div>
  </section>
  
</BaseLayout>

