---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
/*import type { TRANSITION_BEFORE_PREPARATION } from 'astro:transitions/client';*/
const allPosts = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Novo My Astro Learning Blog";
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>Projects</h1>
    <p>This is where I'll write about my journey and projects.</p>

    
    <!--
    <ul>
      {allPosts.map((project) => <li><a href={project.url}>{project.frontmatter.title}</a></li>)}
    </ul>
    -->

    <div class="cards">
      <ProjectCard />
    </div>

    <Footer />
  </body>
</html>
