---
---

<button onclick="history.back()" class="back">
    <img src="/svg/arrow-left.svg" alt="Arrow pointing to the left">
    <p>Back</p>
</button>

<style>
    .back {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .back p {
        color: var(--main-color);
        font-size: 1rem;
    }

    button {
        border: none;
        background-color: transparent;
    }
</style>