---
---

<div class="buttons">
    <a href="/letstalk" class="letstalk">
        Let's Talk
        <!-- 
            colocar o texto dentro de p e depois
        <figure>
            <img src="assets/download-vector.png" alt="Download icon">
        </figure>-->
     </a>
    <a href="/portfolio" class="viewwork">View Work</a>
</div>
