---
---

<div class="buttons">
    <a href="/letstalk" class="letstalk">
        <p>Let's Talk</p>
        <img src="/svg/arrow-up-right.svg" alt="Simple arrow up right">
    </a>
    <a href="/portfolio" class="viewwork">View Work</a>
</div>

<style>
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 24px;
    }

    .buttons img {
        width: 24px;
        margin: 0;
    }

    .buttons a {
        text-decoration: none;
        border-radius: 24px;
        height: 44px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .letstalk {
        background-color: var(--main-color);
        color: var(--light-color);
    }

    .letstalk p {
        color: var(--light-color);
        margin: 0;
    }

    .letstalk figure {
        height: 24px;
    }

    .viewwork {
        background-color: var(--light-color);
        color: var(--main-color);
        border: 1px solid var(--main-color); 
    }

    .letstalk p, a.viewwork {
        font-size: 1rem;
    }
    
</style>