---
---

<article class="buttons">
    <a href="/letstalk" title="Let's Talk" class="letstalk">
        <p>Let's Talk</p>
        <img src="/svg/arrow-up-right.svg" alt="Arrow pointing to the upper right corner">
    </a>
    <a href="/portfolio" title="View Work" class="viewwork">View Work</a>
</article>

<style>
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 24px 16px;
    }

    .buttons img {
        width: 24px;
        margin: 0;
    }

    .buttons a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        border-radius: 24px;
        height: 44px;
        width: 140px;
    }

    .letstalk, .letstalk p {
        color: var(--light-color);
    }
    
    .letstalk {
        background-color: var(--main-color);
    }

    .letstalk p {
        margin: 0;
    }

    .letstalk figure {
        height: 24px;
    }

    .viewwork {
        background-color: var(--light-color);
        color: var(--main-color);
        border: 1px solid var(--main-color); 
    }

    .letstalk p, a.viewwork {
        font-size: 1rem;
    }

    @media (min-width: 600px) {
        .letstalk:hover {
        background-color: var(--secondary-color);
        }

        .viewwork:hover {
            color: var(--secondary-color);
            border: 1px solid var(--secondary-color); 
        }
    }

    @media (min-width: 768px) {
    
        .buttons {
            gap: 32px;
        }

        .buttons a {
            height: 56px;
            width: 200px;
        }
    }

</style>