---
const { contact, name } = Astro.props;
---

<article class="contacts-link">
    <a href={contact} title={name}>{name}</a>
</article>


<style>
    .contacts-link a {
        color: var(--light-color);
        font-size: 1rem;
        text-decoration: none;
    }

    .contacts-link a:hover, a:focus {
        color: var(--secondary-color);
    }

</style>