---
const {number, role, company, date} = Astro.props
---

<section class="experience-card">
  
  <button type="button" class="experience">
    <article class="experience-information">
      
      <p class="experience-number">{number}</p>
      <article class="experience-details">
        
        <p class="experience-role">{role}</p>
        
        <article class="experience-company-date">
          <p>{company}</p>
          <p>{date}</p>
        </article>

      </article>
    </article>
      
    <figure>
      <img src="/svg/plus.svg" class="plus" alt="Plus icon to expand information">
      <img src="/svg/minus.svg" class="minus" alt="Minus icon to collapse information">
    </figure>
  
  </button>
  
  <article class="experience-content">
      <slot />
  </article>

</section>

  

<style>
  .experience {
    background-color: var(--light-color);
    border: none;
    border-bottom: 0.5px solid var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;  
    padding: 16px;
    width: 100%;
    cursor: pointer;
  }

  .experience-number {
    font-size: 2rem;
    font-weight: 200;
  }

  .experience-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
  }

  .experience-details p {
    text-align: left;
  }

  .experience-role {
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
  }

  .experience-number, .experience-role {
    color: var(--main-color);
  }

  .experience-company-date {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .experience-company-date p {
    color: var(--secondary-color);
    font-size: 1rem;
    margin: 0;
  }

  .experience-information {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
  }

  .active {
    border-bottom: none;
  }

  img.minus, .active img.plus {
    display: none;
  }

  .active img.minus {
    display: block;
  }

  .experience-content {
    background-color: var(--light-color);
    padding: 0 16px 16px 16px;
    display: none;
    overflow: hidden;
    border-bottom: 1px solid var(--main-color);
  }
  
  @media screen and (min-width: 600px) {
    .experience-number {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 768px) {
    .experience-company-date {
    flex-direction: row;
    gap: 24px;
    }

    .experience-card{
      max-width: 100%;
    }
  }

  @media screen and (min-width: 992px) {
    .experience-company-date {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    }
  }

</style>

<script>
  var coll = document.getElementsByClassName("experience");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
    
