---
import Social from './Social.astro';
import Contacts from './Contacts.astro';
---

<footer>
  <section class="footer-intro">
    <h1>Margarida Barros</h1>
    <h2>Product Designer</h2>
  </section>

  <section class="footer-contacts">
    <Contacts contact="mailto:mbcsbarros@gmail.com" name="E-mail" />
    <Social platform="behance.net" username="margaridabbarros" name="Behance" />
    <Social platform="linkedin.com" username="in/margaridabarros" name="LinkedIn" />
  </section>

  <p class="copyright">Copyright © 2024</p>

</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 32px;
    padding: 24px;
    background-color: var(--main-color);
  }

  .footer-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .footer-intro h2 {
    margin: 0;
    font-size: 3rem;
  } 

  .footer-intro h1 {
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 32px 0 0 0;
  }

  .footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-bottom: 20px; */
    gap: 36px;
  }

  .contact-link {
    color: var(--light-color);
  }

  .footer-intro h2, footer p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--secondary-light-color);
  }

</style>