---
import Social from './Social.astro';
import Contacts from './Contacts.astro';
---

<footer>

  <h1>Margarida Barros</h1>
  <h2>Let’s Talk about opportunities and stuff. Let’s connect!</h2>
  
  <section class="contacts">
    <Contacts contact="mailto:mbcsbarros@gmail.com" image="/svg/mail.svg"/>
    <Contacts contact="tel:+351914560766" image="/svg/phone.svg"/>
    <Social platform="behance.net" username="margaridabbarros" image="/svg/linkedin.svg" />
    <Social platform="linkedin.com" username="in/margaridabarros" image="/svg/linkedin.svg"/>
  </section>
  
  <p class="copyright">Copyright © 2024</p>

</footer>