---
import Social from './Social.astro';
import Contacts from './Contacts.astro';
---

<footer>
  <section class="footer-info">
    <article class="footer-intro">
      <h1>Margarida Barros</h1>
      <h2>Product Designer</h2>
    </article>
  
    <article class="footer-contacts">
      <Contacts contact="mailto:mbcsbarros@gmail.com" name="E-mail" />
      <Social platform="behance.net" username="margaridabbarros" name="Behance" />
      <Social platform="linkedin.com" username="in/margaridabarros" name="LinkedIn" />
    </article>
  </section>
  
  <p class="copyright">Copyright © 2024</p>

</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 24px;
    background-color: var(--main-color);
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 32px 0 0 0;
  }

  .footer-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .footer-intro h2 {
    font-size: 3rem;
    margin: 0;
  } 

  .footer-intro h1 {
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 0;
  }

  .footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .contact-link {
    color: var(--light-color);
  }

  .footer-intro h2, footer p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--secondary-light-color);
  }

  @media (min-width: 768px) {
    .footer-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .footer-intro h1, .footer-intro h2 {
      text-align: left;
    }
    
    .copyright {
      width: 100%;
      text-align: right;
    }
  }
  

</style>