---
---
  
<div class="topnav">

  <div class="logo">
    <a href="/">
      <h1>Margarida Barros</h1>
      <h2>Product Designer</h2>
    </a>
  </div>
  
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line lastline"></span>
  </div>
</div>


<style>
  .logo h1 {
    font-size: 1rem;
    margin: 0;
    color: #343434;
    text-align: left;
  }

  .logo h2 {
    font-size: 0.7rem;
    margin: 0;
    color:darkgray;
    text-align: left;

  }

  .logo a {
    text-decoration: none;
    margin-top: 3rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  
</style>
