---
---

<ul class="nav-links">
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/about" title="About">About</a></li>
    <li><a href="/portfolio" title="Projects">Projects</a></li>
    <li><a href="/letstalk" title="Let's Talk">Let's Talk</a></li>
</ul>