---
---

<figure class="slide">

    <a href="/posts/post-2" title="Botanica E-commerce Website for a Plant Shop">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1" title="Search Control feature for instagram">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3" title="FBAUL website redesign for Candidates">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

    <a href="/posts/post-2" title="Botanica E-commerce Website for a Plant Shop">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1" title="Search Control feature for instagram">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3" title="FBAUL website redesign for Candidates">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

</figure>

<figure class="slide">
    <a href="/posts/post-2" title="Botanica E-commerce Website for a Plant Shop">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1" title="Search Control feature for instagram">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3" title="FBAUL website redesign for Candidates">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

    <a href="/posts/post-2" title="Botanica E-commerce Website for a Plant Shop">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1" title="Search Control feature for instagram">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3" title="FBAUL website redesign for Candidates">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

</figure>