---
---

<figure class="slide">
    <a href="/posts/post-2">
        <img src="/img/Botanica_Thumbnail.png" alt="">
    </a>

    <a href="/posts/post-1">
        <img src="/img/Instagram_Thumbnail.png" alt="">
    </a>
</fugire>