---
---

<figure class="slide">

    <a href="/posts/post-2">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

    <a href="/posts/post-2">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

</figure>

<figure class="slide">
    <a href="/posts/post-2">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

    <a href="/posts/post-2">
        <img src="/img/Botanica_Thumbnail_NoName.jpg" alt="Two mockup examples of Botanica's website, in perspective, with a marine background">
    </a>
    
    <a href="/posts/post-1">
        <img src="/img/Instagram_Thumbnail_NoName.jpg" alt="Three mockup examples of the Instagram new interface, side by side, with a purple background">
    </a>

    <a href="/posts/post-3">
        <img src="/img/Fbaul_Thumbnail_NoName.jpg" alt="Two mockup examples of FBAUL's website, in perspective, with a pink background">
    </a>

</figure>