---
const { platform, username, image } = Astro.props;
---

<div class="contacts-circle">
    <figure>
        <a href={`https://www.${platform}/${username}`}><img src={image} alt=""></a>
    </figure>
</div>

<style>


</style>
