---
const { platform, username, name } = Astro.props;
---

<article class="contacts-link">
    <a href={`https://www.${platform}/${username}`} title={name} target="_blank">{name}</a>
</article>

<style>
    .contacts-link a {
        color: var(--light-color);
        font-size: 1rem;
        text-decoration: var(--light-color);
    }

    .contacts-link a:hover, a:focus {
        color: var(--secondary-color);
    }

</style>