---
import ExperienceCard from "./ExperienceCard.astro";

---

<section class="section-experience">
  <h1>Work Experience</h1>

  <ExperienceCard number="01" role="Program Manager" company="OutSystems" date="Sep 21 - Jun 24">
    
    <p>Coordinated 11 successful feature testing programs to anticipate adoption problems and validate technical quality by collecting feedback from early access users (300+ Customers) through user sessions and usability tests.</p>

    <p>Additionally, I daily coordinate the communication between Customers, Product Managers, UX Designers, and Developers to ensure a unified customer experience.</p>

  </ExperienceCard>


  <ExperienceCard number="02" role="Head of Visual Communication & Graphic Designer" company="Reboot" date="Nov 22 - Oct 23">

    <p>Managed a team of 4 Graphic Designers who produced visual materials, and defined the visual identity of events, projects, and promotional materials.</p>

    <p>Produced visual design materials targeting two different personas: those interested in sustainability and those indifferent to it. Developed the visual identity of an event about refugees named “[ ] Placed”, including social media materials, media kit for partners, posters, and banners.</p>

  </ExperienceCard>

  <ExperienceCard number="03" role="Process Optimisation Consultant (Lean Manufacturing)" company="ERISING" date="Nov 18 - Sep 21">
    
    <p>Diagnosis and resolution of improvement opportunities through process flows, user observation, and interviews. Application of Lean, Continuous Improvement, and Problem-Solving methodologies in 6 different industry contexts.</p>

  </ExperienceCard>


</section>

<style>
  .section-experience {
      width: 100%;
  }
    
  p {
      font-size: 1rem;
      color: var(--main-color);
  }



  @media (min-width: 992px) {
    h1 {
      text-align: left;
    }

    .section-experience {
      padding: 24px;
    }

  }

    
</style>

