---
---

<h1>Work Experience</h1>

<button type="button" class="experience">
        <div class="test">
            <p class="experience-number">01</p>
            <div class="experience-details">
              <p class="experience-role">Program Manager</p>
              <div class="experience-company-date">
                <p>OutSystems</p>
                <p>Sep 21 - Jun 14</p>
              </div>
            </div>
        </div>
       
        <img src="/svg/plus.svg" alt="">
</button>

<div class="experience-content">
  <p>This text should include something about my work experience.</p>
</div>

<button type="button" class="experience">
  <p class="experience-number">02</p>
  <div class="experience-details">
    <p class="experience-role">Program Manager</p>
    <div class="experience-company-date">
      <p>OutSystems</p>
      <p>Sep 21 - Jun 14</p>
    </div>
  </div>
</button>

<div class="experience-content">
  <p>This text should include something about my work experience.</p>
</div>

<button type="button" class="experience">
  <p class="experience-number">03</p>
  <div class="experience-details">
    <p class="experience-role">Program Manager</p>
    <div class="experience-company-date">
      <p>OutSystems</p>
      <p>Sep 21 - Jun 14</p>
    </div>
  </div>
</button>

<div class="experience-content">
  <p>This text should include something about my work experience.</p>
</div>

<button type="button" class="experience">
  <p class="experience-number">04</p>
  <div class="experience-details">
    <p class="experience-role">Program Manager</p>
    <div class="experience-company-date">
      <p>OutSystems</p>
      <p>Sep 21 - Jun 14</p>
    </div>
  </div>
</button>

<div class="experience-content">
  <p>This text should include something about my work experience.</p>
</div>

<style>

/* .experience-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.experience-number {
  font-size: 2rem;
  font-weight: 200;
}

.experience-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-role {
  font-size: 1rem;
  text-align: left;
  font-weight: 200;
  margin: 0;
}

.experience-number, .experience-role, .experience-content p {
  color: var(--main-color);
}


.experience-company-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.experience-company-date p {
  color: var(--secondary-color);
  font-size: 0.75rem;
  margin: 0;
}

.experience {
  background-color: var(--light-color);
  padding: 1rem;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer
}

.test {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.active {
  border-bottom: none;
}

.experience-content {
  background-color: #fff;
  padding: 0 1rem;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid #343434;
}


</style>

<script>
    var coll = document.getElementsByClassName("experience");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>