---
import ExperienceCard from "./ExperienceCard.astro";

---

<h1>Work Experience</h1>

<ExperienceCard number="01" role="Program Manager" company="OutSystems" date="Sep 21 - Jun 24" content="test" />

<ExperienceCard number="02" role="Program Manager" company="OutSystems" date="Sep 21 - Jun 24" content="test" />

<ExperienceCard number="03" role="Program Manager" company="OutSystems" date="Sep 21 - Jun 24" content="test" />

<ExperienceCard number="04" role="Program Manager" company="OutSystems" date="Sep 21 - Jun 24" content="test" />
